.title {
  @include font-style(100px, normal, 800);
  padding: 10px;
  text-align: left;
  margin-top: 200px;
  margin-left: 80px;
}

.aboutme-wrap {
  width: 904px;
  margin: 80px auto 54px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.aboutme-sentence {
  @include font-style(30px, 40px, 300);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
  > li {
    list-style: disc;
    margin-left: 50px;
    > span {
      @include font-style(30px, 40px, 700);
    }
  }
}

.skillstools-img-wrap {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.skillstools-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  > img {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
