.home-page {
  width: 1024px;
  margin-top: 90px;
  text-align: center;
  // >img{
  //   margin-top: 25px;
  // }
}

// 기본
// .main-title {
//   @include font-style(150px, normal, 800);
//   margin-top: 400px;
//   transform: rotate(15deg);
//   position: relative;
//   &::before {
//     content: "PORTFOLIO";
//     @include font-style(200px, normal, 800);
//     color: transparent;
//     -webkit-text-stroke: 1px $color-font;
//     position: absolute;
//     top: 15%;
//     left: 50.5%;
//     transform: translate(-50%, -50%);
//     opacity: 0.4;
//   }
// }

.main-title {
  @include font-style(150px, normal, 800);
  margin-top: 380px;
  transform: rotate(10deg);
  position: relative;
  overflow: wisible;
  display: inline-block;

  // 글자별 타이핑 효과
  & span {
    display: inline-block;
    opacity: 0;
    // transform: translateX(-20px); // 왼쪽에서 슬라이드
    animation: letterIn 0.4s forwards;
  }
  @keyframes letterIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &::before {
    content: "PORTFOLIO";
    @include font-style(200px, normal, 800);
    color: transparent;
    -webkit-text-stroke: 1px $color-font;
    position: absolute;
    top: 15%;
    left: 50.5%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    animation: shadowPop 1s ease-out forwards;
    animation-delay: 2s; // 타이핑 끝나고 실행되도록
  }
  @keyframes shadowPop {
    from {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.4;
    }
  }
}

.homepage-sentence {
  @include font-style(50px, normal, 700);
  text-align: right;
  margin-top: 280px;
  margin-right: 50px;
}
.design {
  color: $point-design;
}
.coding {
  color: $point-coding;
}

.homepage-main-sentence {
  @include font-style(60px, normal, 500);
  margin-top: 80px;
}
.my-name {
  @include font-style(100px, normal, 700);
}
