.main-project {
  margin-bottom: 30px;
}
.main-wrap {
  width: 864px;
  margin: 80px auto 100px;
  @include font-style(35px, normal, 500);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-team {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $color-font;
  text-align: left;
  border-radius: 10px;
}
.main-subtitle {
  padding: 10px 20px;
  color: $color-bg;
}
.main-subwrap {
  padding: 20px 30px;
  background-color: $color-bg;
  border: 1px solid $color-bg;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  &:hover {
    cursor: pointer;
    background-color: $color-font;
    color: $color-bg;
    border: 1px solid $color-bg;
  }
}
.guide {
  @include font-style(30px, normal, 400);
  margin: 0 40px;
  text-align: left;
}
